/**
 * @name Dark Matter
 * @author Tropical#8908, Hammock#3110
 * @version 3.0.0
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
*/

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://cdn.discordapp.com/attachments/1043966599817859122/1097964185331179530/Sfm_Pov_That_Ass_43.gif');
    --home-image: url('https://storage.bhs.cloud.ovh.net/v1/AUTH_8d36ec6c0460400ca5d88d41cb6b9cd3/images/raycuaza10/497542/download-58_01GYAN81ZAET1Z0E8AET2N5Y1R.gif');
    --background-solid: #161921;
    --background-solid-dark: #101218;
    --background-solid-darker: #0c0e12;
    --accent: 146, 41, 41;
    --accent-alt: 146, 41, 41;
}
